# 项目, 缓存
.settings/
.idea/
.pytest_cache/
__pycache__
/__pycache__/


# alure
staticsss/allure_report
staticsss/allure_result
allure_result/
allure_report/
/allure_result/
/allure_report/

# 日志
staticsss/log
staticsss/log/
staticsss/data/~*.xlsx
staticsss/data/~$Delivery_System_V1.5.xlsx
log/
/log/
